/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link {
  color: #faf4ea;
  text-decoration: none;
  line-height: 1.5;
}
.link:hover {
  color: #819b57;
  font-weight: 600;
}
body {
  color: #31261a;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: #faf4ea;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
address {
  font-style: normal;
  text-decoration: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.button {
  padding: 16px 32px;
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  color: #465929;
  background-color: transparent;
}
.hero-title {
  margin-bottom: 0;
  color: #faf4ea;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: #819b57;
}
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('./images/couple-in-bakery.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.advantages-section {
  background-color: #819b57;
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advanteges-item {
  font-size: 20px;
  font-weight: 300;
  color: #faf4ea;
}
.chef-title::before,
.chef-title::after {
  width: 352px;
  height: 2px;
  background: #cfcfbc;
  content: '';
  display: block;
}
.chef-title::before {
  position: absolute;
  left: 0;
  bottom: 24px;
}
.chef-title::after {
  position: absolute;
  right: 0;
  bottom: 24px;
}
.chef-title {
  margin: 0 auto 80px;
  text-align: center;
  position: relative;
}
.chefs-list {
  display: flex;
  gap: 30px;
}
.chef-card {
  display: flex;
  gap: 30px;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.section-title {
  color: #31261a;
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: #465929;
}
.traditions-text .brand {
  color: #819b57;
  font-weight: 600;
}
.traditions-text .uppercase {
  color: #819b57;
  text-transform: uppercase;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-title {
  margin-bottom: 42px;
}
.traditions-contanier {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.traditions-text.limited {
  max-width: 340px;
}
.chef-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 #faf4ea, -16px 16px 0 2px #a18268;
}
.chefs-title {
  color: #31261a;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #31261a;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.carousel-arrow {
  fill: #31261a;
}
.carousel-button:hover {
  background-color: #31261a;
}
.carousel-button:hover .carousel-arrow {
  fill: #faf4ea;
}
.carousel-button.next {
  transform: rotate(180deg);
}
.formats-title {
  text-align: center;
  margin-bottom: 80px;
}
.format-card {
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  padding: 24px;
  height: 444px;
}
.format-list {
  display: flex;
  gap: 20px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: #faf4ea;
}

.address-icon {
  fill: #faf4ea;
}

.address-link:hover {
  color: #819b57;
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
  font-weight: 400;
}
.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.address-list,
.address-info {
  flex-grow: 1;
}

.footer {
  position: relative;
  background-image: url('./images/footer-background.png');
  background-color: #31261a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px 0;
}
.footer::before {
  position: absolute;
  width: 180px;
  height: 120px;
  left: 0;
  bottom: 0;
  background-image: url(./images/small-bread-decor.png);
  content: '';
  background-repeat: no-repeat;
}

.footer::after {
  position: absolute;
  width: 380px;
  height: 190px;
  right: 0;
  bottom: 0;
  background-image: url(./images/big-bread-decor.png);
  content: '';
}

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 1s, visibility 1s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: #faf4ea;
  border-radius: 32px;
}
.modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
