ul {
  list-style-type: none;
}
.link {
  color: #faf4ea;
}
.link:hover {
  color: #819b57;
}
body {
  color: #31261a;
  font-family: 'Poppins' sans-serif;
  font-size: 18px;
}

.button {
  color: #faf4ea;
  background-color: #819b57;
  border: 2px solid #819b57;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: #465929;
  background-color: transparent;
}
.hero-title {
  color: #faf4ea;
  font-family: 'Poppins' sans-serif;
  text-align: center;
  font-size: 128px;
}
.hero-title .accent {
  color: #819b57;
}
.advantages-list {
  background-color: #819b57;
  color: #faf4ea;
}
.section-title {
  color: #31261a;
}
.section-title .accent {
  color: #465929;
}
.traditions-text .brand {
  color: #819b57;
}
.traditions-text .uppercase {
  color: #819b57;
  text-transform: uppercase;
}
